@import url("https://fonts.googleapis.com/css?family=Montserrat");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #1e215a;
  height: 100%;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
}

body#bg-img {
  background: url("../img/bg-welcome.jpg");
  background-attachment: fixed;
  background-size: cover;
}

body#bg-img::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(30, 33, 90, 0.6);
  z-index: -1;
}

h1, h2, h3 {
  margin: 0;
  font-weight: 400;
}

h1.lg-heading, h2.lg-heading, h3.lg-heading {
  font-size: 5.5rem;
}

h1.sm-heading, h2.sm-heading, h3.sm-heading {
  margin-bottom: 2rem;
  padding: 0.2rem 1rem;
  background: rgba(33, 36, 98, 0.5);
}

a {
  color: #fff;
  text-decoration: none;
}

.btn, .btn-dark, .btn-light {
  display: block;
  padding: 0.5rem 1rem;
  border: none;
  margin-bottom: 0.3rem;
}

.btn:hover, .btn-dark:hover, .btn-light:hover {
  background: #e6e4b5;
  color: #000;
}

.btn-dark {
  background: black;
  color: #fff;
}

.btn-light {
  background: #9a9ddd;
  color: #333;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

.menu-btn .btn-line {
  width: 28px;
  height: 3px;
  background: #fff;
  margin: 0 0 5px 0;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

.menu-btn.close .btn-line:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px);
}

.menu-btn.close .btn-line:nth-child(2) {
  -webkit-transform: translateX(200px);
          transform: translateX(200px);
}

.menu-btn.close .btn-line:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(7px, -6px);
          transform: rotate(-45deg) translate(7px, -6px);
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;
}

.menu.show {
  visibility: visible;
}

.menu-branding, .menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
}

.menu-nav {
  margin: 0;
  padding: 0;
  background: rgba(24, 26, 71, 0.9);
  list-style: none;
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

.menu-nav.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu-branding {
  background: rgba(30, 33, 90, 0.9);
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

.menu-branding.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu-branding .portrait {
  width: 250px;
  height: 250px;
  background: url(../img/portrait.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  border: 3px solid #e6e4b5;
}

.menu .nav-item.current a {
  color: #e6e4b5;
}

.menu .nav-link {
  display: inline-block;
  position: relative;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 1rem 0;
  font-weight: 300;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

.menu .nav-link:hover {
  color: #e6e4b5;
}

.nav-item:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.nav-item:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.nav-item:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.nav-item:nth-child(4) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.text-secondary {
  color: #e6e4b5;
}

main {
  padding: 4rem;
  min-height: calc(100vh - 60px);
}

main .icons {
  margin-top: 1rem;
}

main .icons a {
  padding: 0.4rem;
}

main .icons a:hover {
  color: #e6e4b5;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

main#home {
  overflow: hidden;
}

main#home h1 {
  margin-top: 20vh;
}

.about-info {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'bioimage bio bio' 'job1 job2 job3';
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.about-info .bio-image {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: bioimage;
  margin: auto;
  border-radius: 50%;
  border: 3px solid #e6e4b5;
  width: 250px;
}

.about-info .bio {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: bio;
  font-size: 1.5rem;
}

.about-info .bio h3 {
  font-size: 2rem;
}

.about-info .bio a {
  color: #e6e4b5;
}

.about-info .bio a:hover {
  text-decoration: underline;
}

.about-info .job-1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: job1;
}

.about-info .job-2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: job2;
}

.about-info .job-3 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: job3;
}

.about-info .job {
  background: #24286d;
  padding: 0.5rem;
  border-bottom: 5px solid #e6e4b5;
  -webkit-box-shadow: 0px 5px 10px -4px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 5px 10px -4px rgba(0, 0, 0, 0.75);
  text-align: center;
}

.about-info .job h3 {
  padding: 1em;
}

.about-info .job p {
  padding: 1em;
}

.about-info .job .thumbnail {
  width: 80%;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: #111334;
  color: #fff;
  height: 60px;
}

.about-container {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(30, 33, 90, 0.7)), to(rgba(30, 33, 90, 0.7))), url("../img/bg-projects.jpg");
  background: linear-gradient(rgba(30, 33, 90, 0.7), rgba(30, 33, 90, 0.7)), url("../img/bg-projects.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.7rem;
}

.projects img {
  width: 100%;
  border: 1px solid white;
}

.projects img:hover {
  opacity: 0.9;
  border: 1px solid #e6e4b5;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

.projects .btn-light {
  margin-top: -0.4em;
}

.contact-container {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(30, 33, 90, 0.7)), to(rgba(30, 33, 90, 0.7))), url("../img/bg-contact.jpg");
  background: linear-gradient(rgba(30, 33, 90, 0.7), rgba(30, 33, 90, 0.7)), url("../img/bg-contact.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-evenly;
      -ms-flex-align: space-evenly;
          align-items: space-evenly;
  margin-top: 1rem;
}

.boxes div {
  font-size: 1.5rem;
  padding: 1.5rem 2.5rem;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

.boxes div:hover {
  background: rgba(30, 33, 90, 0.5);
}

.boxes .fab {
  color: #e6e4b5;
}

.socialmedia {
  margin-top: 1em;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-evenly;
      -ms-flex-align: space-evenly;
          align-items: space-evenly;
  margin-top: 1rem;
}

.social-media .fab {
  color: #e6e4b5;
}

.social-media a {
  font-size: 1.5rem;
  padding: 1.5rem 2.5rem;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

.social-media a:hover {
  background: rgba(30, 33, 90, 0.5);
}

@media screen and (min-width: 1171px) {
  .projects {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .about-info {
        grid-template-areas: 'bioimage bio' 'job1 job1' 'job2 job2' 'job3 job3';
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .about-info .bio {
    font-size: 1rem;
  }
  .projects {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  main {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  main .lg-heading {
    line-height: 1;
    margin-bottom: 1rem;
  }
  ul.menu-nav, div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
  }
  .menu-nav {
    height: 75vh;
  }
  .menu-branding {
    height: 25vh;
  }
  .menu-branding .portrait {
    width: 23vh;
    height: 100%;
    margin: 10px;
  }
  .about-info {
        grid-template-areas: 'bioimage' 'bio' 'job1' 'job2' 'job3';
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .about-info .bio {
    font-size: 1rem;
  }
  .projects {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  main .lg-heading {
    font-size: 4rem;
  }
  main#home {
    padding: 10px;
  }
  main#home h1 {
    margin-top: 20vh;
  }
  main#about {
    padding: 10px;
  }
  main#about h1 {
    margin-top: 5vh;
  }
  main#work {
    padding: 10px;
  }
  main#work h1 {
    margin-top: 5vh;
  }
  main#contact {
    padding: 10px;
  }
  main#contact h1 {
    margin-top: 5vh;
  }
  .menu-nav .nav-link {
    font-size: 1.5rem;
  }
  .projects {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .boxes div {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=main.css.map */