.about-info{
    display: grid;
    grid-template-areas:
    'bioimage bio bio'
    'job1 job2 job3';
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;

    .bio-image{
        grid-area: bioimage;
        margin: auto;
        border-radius: 50%;
        border: 3px solid $secondary-clr;
        width: 250px;
    }
    
    .bio{
        grid-area: bio;
        font-size: 1.5rem;
        h3{
            font-size: 2rem;
        }
        a{
            color: $secondary-clr;
        }
        a:hover{
            text-decoration: underline;
        }
    }
    
    .job-1{
        grid-area: job1;
    }
    
    .job-2{
        grid-area: job2;
    }
    
    .job-3{
        grid-area: job3;
    }
    
    .job{
        background: lighten($primary-clr, 5);
        padding: 0.5rem;
        border-bottom: 5px solid $secondary-clr;
        box-shadow: 0px 5px 10px -4px rgba(0,0,0,0.75);
        text-align: center;
        h3{
            padding: 1em;
        }
        p{
            padding: 1em;
        }
        .thumbnail{
           width: 80%;
            
        }
    }
}

#main-footer{
    text-align: center;
    padding: 1rem;
    background: darken($primary-clr, 10);
    color: set-text-color($primary-clr);
    height: 60px;
}

.about-container{
    background: linear-gradient(rgba(30, 33, 90, 0.7), rgba(30, 33, 90, 0.7)),
    url('../img/bg-projects.jpg');
    background-attachment: fixed;
    background-size: cover;
}