.contact-container{
    background: linear-gradient(rgba(30, 33, 90, 0.7), rgba(30, 33, 90, 0.7)),
    url('../img/bg-contact.jpg');
    background-attachment: fixed;
    background-size: cover;
}

.boxes{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: space-evenly;
    margin-top: 1rem;

    div{
        font-size: 1.5rem;
        padding: 1.5rem 2.5rem;
        @include easeOut;

        &:hover{
            background: rgba($primary-clr, 0.5)
        }
    }
    .fab{
        color: $secondary-clr;
    }
}

.socialmedia{
    margin-top: 1em;
}

.social-media{
    display:flex;
    flex-direction: column;
    font-size: 1.5rem;
    justify-content: center;
    align-items: space-evenly;
    margin-top: 1rem;
    .fab{
        color: $secondary-clr;
    }
    a{
        font-size: 1.5rem;
        padding: 1.5rem 2.5rem;
        @include easeOut;

        &:hover{
            background: rgba($primary-clr, 0.5)
        }
    }
}