@import url('https://fonts.googleapis.com/css?family=Montserrat');

*{
    box-sizing: border-box;
}

body{
    @include background;
    margin: 0;
    padding: 0;
    background: $primary-clr;
    height: 100%;
    color: set-text-color($primary-clr);
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}

h1, h2, h3{
    margin: 0;
    font-weight: 400;
    &.lg-heading{
        font-size: 5.5rem;
    }
    &.sm-heading{
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background: rgba(lighten($primary-clr, 2), 0.5);
    }
}

a{
    color: set-text-color($primary-clr);
    text-decoration: none;
}

.btn{
    display: block;
    padding: 0.5rem 1rem;
    border: none;
    margin-bottom: 0.3rem;
    &:hover{
        background: $secondary-clr;
        color: set-text-color($secondary-clr);
    }
}

.btn-dark{
    @extend .btn;
    background: darken($primary-clr, 50);
    color: set-text-color($primary-clr);
}

.btn-light{
    @extend .btn;
    background: lighten($primary-clr, 50);
    color: #333;
}