header{
    position:fixed;
    z-index: 2;
    width: 100%;
}

.menu-btn{
    position:absolute;
    z-index: 3;
    right: 35px;
    top: 35px;
    cursor: pointer;
    @include easeOut;

    .btn-line{
        width: 28px;
        height: 3px;
        background: set-text-color($primary-clr);
        margin: 0 0 5px 0;
        @include easeOut;
    }

    // Rotate into X

    &.close{
        
        .btn-line{
            &:nth-child(1){
                transform: rotate(45deg) translate(5px, 5px);
            }
            &:nth-child(2){
                transform: translateX(200px);
            }
            &:nth-child(3){
                transform: rotate(-45deg) translate(7px, -6px);
            }
        }
    }
}

// Menu Overlay

.menu{
    position: fixed;
    top: 0;
    width: 100%;
    visibility: hidden;

    &.show{
        visibility: visible;
    }

    &-branding, &-nav{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        float: left;
        width: 50%;
        height: 100vh;
        overflow: hidden;
    }

    &-nav{
        margin: 0;
        padding: 0;
        background: darken(rgba($primary-clr, 0.9), 5); 
        list-style: none;
        transform: translate3d(100%, 0, 0);
        @include easeOut;

        &.show{
            //slide in from side
            transform: translate3d(0,0,0);
        }
    }

    // Branding
    &-branding{
        background: rgba($primary-clr, 0.9);
        transform: translate3d(-100%, 0, 0);
        @include easeOut;
        &.show{
            //slide in from side
            transform: translate3d(0,0,0);
        }

        .portrait{
            width: 250px;
            height: 250px;
            background: url(../img/portrait.jpg);
            background-position: center;
            background-size: cover;
            border-radius: 50%;
            border: 3px solid $secondary-clr;
        }
    }

    .nav-item{
        &.current{
            a{
                color: $secondary-clr;
            }
        }
    }

    .nav-link{
        display: inline-block;
        position: relative;
        font-size: 2rem;
        text-transform: uppercase;
        padding: 1rem 0;
        font-weight: 300;
        @include easeOut;

        &:hover{
            color: $secondary-clr;
        }
    }
}

// delay each nav item slide

@for $x from 1 through 4 {
    .nav-item:nth-child(#{$x}){
        transition-delay: $x * 0.1s;
    }
}