.text-secondary{
    color: $secondary-clr;
}

main{
    padding: 4rem;
    min-height: calc(100vh - 60px);
    .icons{
        margin-top: 1rem;

        a{
            padding: 0.4rem;

            &:hover{
                color: $secondary-clr;
                @include easeOut;
            }
        }
    }
    &#home{
        overflow: hidden;
        h1{
            margin-top: 20vh;
        }
    }
}