// Wide screens
@include mediaXl {
    .projects{
        grid-template-columns: repeat(4,1fr);
    }
}

// Desktop & Laptops
@include mediaLg {
    .about-info{
        grid-template-areas:
        'bioimage bio'
        'job1 job1'
        'job2 job2'
        'job3 job3';
        grid-template-columns: 1fr 1fr;
        .bio{
            font-size: 1rem;
        }
    }
    .projects{
        grid-template-columns: repeat(3,1fr);
    }
}

// Tablets & Small Laptops
@include mediaMd {
    main{
        align-items: center;
        text-align: center;

        .lg-heading{
            line-height: 1;
            margin-bottom: 1rem;
        }
    }

    ul.menu-nav, div.menu-branding{
        float: none;
        width: 100%;
        min-height: 0;
    }

    .menu-nav{
        height: 75vh;
    }
    .menu-branding{
        height: 25vh;
        .portrait{
            width: 23vh;
            height: 100%;
            margin: 10px;
        }
    }

    .about-info{
        grid-template-areas:
        'bioimage'
        'bio'
        'job1'
        'job2'
        'job3';
        grid-template-columns: 1fr;
        .bio{
            font-size: 1rem;
        }
    }

    .projects{
        grid-template-columns: repeat(2,1fr);
    }
}

// Smartphones
@include mediaSm {
    main{
        .lg-heading{
            font-size: 4rem;
        }
        &#home{
            padding: 10px;
            h1{
                margin-top: 20vh;
            }
        }
        &#about{
            padding: 10px;
            h1{
                margin-top: 5vh;
            }
        }
        &#work{
            padding: 10px;
            h1{
                margin-top: 5vh;
            }
        }
        &#contact{
            padding: 10px;
            h1{
                margin-top: 5vh;
            }
        }
    }
    .menu-nav{
        .nav-link{
            font-size: 1.5rem;
        }
    }

    .projects{
        grid-template-columns: 1fr;
    }
    
    .boxes{
        div{
            font-size: 1rem;
        }
    }
}