$primary-clr: #1e215a;
$secondary-clr:  #e6e4b5;
$show-home-image: true;
$home-image: url('../img/bg-welcome.jpg');

@mixin easeOut {
    transition: all 500ms ease-out;
}

@mixin background {
    @if $show-home-image {
        &#bg-img {
            background: $home-image;
            background-attachment: fixed;
            background-size: cover;

            &::after{
                content: '';
                position:absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                background: rgba($primary-clr, 0.6);
                z-index: -1;
            }
        }
    }
}

// Set Text Color

@function set-text-color($color){
    @if (lightness($color) > 40) {
        @return #000;
    } @else{
        @return #fff;
    }
}


// media query mixins

@mixin mediaSm{
    @media screen and (max-width: 500px){
        @content;
    }
}

@mixin mediaMd{
    @media screen and (max-width: 768px){
        @content;
    }
}

@mixin mediaLg{
    @media screen and (min-width: 769px) and (max-width: 1170px){
        @content;
    }
}

@mixin mediaXl{
    @media screen and (min-width: 1171px){
        @content;
    }
}