.projects{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.7rem;
    img{
        width:100%;
        border: 1px solid white;

        &:hover{
            opacity: 0.9;
            border: 1px solid $secondary-clr;
            @include easeOut;
        }
    }
}

// Button styles

.projects{
    .btn-light{
        margin-top: -0.4em
       }
}