*{
  box-sizing: border-box;
	scroll-behavior: smooth;
}


body{
  font-family: "Comfortaa", sans-serif;
  color: var(--dark-color);
  background: var(--light-color);
  max-width: 100vw;
  a{
    color: var(--links);
    text-decoration: none;
    cursor: pointer;
  }
}


@media only screen and (max-width: 900px) {
  .card-action{
      i{
          display:none;
      }
  }
  .icons{
      justify-content: center;
      .icon{
          &:before{
              display:none;
          }
      }
  }
  .name{
    br{
      display:block;
    }
  }
}