nav{
	&.side-nav{
		position:fixed;
		left:0;
		top:0;
		width: 50px;
		height: 100vh;
		margin: 0;
		background: var(--off-light);
		display:flex;
		align-items: center;
		justify-content: center;
        color: var(--dark-color);
        z-index:1;

	}
}

@media only screen and (max-width: 992px){
    nav{
		&.side-nav{

            top: 10px;
            height: 50px;

		}
    }
    #slide-out{
        min-height: 100vh;
        padding-bottom: 0;
    }
}

#slide-out{
	background: var(--light-color);
	a{
		color: var(--dark-color);
	}
	.sidenav-close{
		position:fixed;
		right: 0;
		top: 0;
		width: 50px;
		height: 100vh;
		background: var(--off-light);
		display:flex;
		align-items: center;
		justify-content: center;
		color: var(--dark-color);
		cursor: pointer;
	}

	i.material-icons{
		margin: 0 15px 0 0;
		&.md-36{
			margin: 0;
		}
	}
	.margin-25-top{
		margin-top:25px;
	}
	.margin-25-bottom{
		margin-bottom: 25px;
	}
}

.download-text{
	color: darkgrey;
	font-style: italic;
	padding-left: 15px;
	font-weight: lighter;
	opacity:0;
	transition: all 250ms ease-in-out;
}

.nav{
	&-about:hover > a > i.material-icons{
		color: $indigo;
	}
	&-competences:hover > a > i.material-icons{
		color: $staryellow;
	}
	&-projets:hover > a > i.material-icons{
		color: $lightgreen;
	}
	&-formations:hover > a > i.material-icons{
		color: $brown;
	}
	&-experiences:hover > a > i.material-icons{
		color: $orange;
	}
	&-hobbies:hover > a > i.material-icons{
		color: $darkpink;
	}
	&-contact:hover > a > i.material-icons{
		color: $purple;
	}
	&-cv:hover{
		& > a > i.material-icons{
			color: $blue;
		}
		& > a > span{
			opacity:1;
		}
	} 
}


@media only screen and (max-height: 670px){
    #slide-out{
        li:nth-of-type(2){
            height: 15%;
            position:relative;
            .name{
                h1{
                    font-size: 2rem;
                    margin-top:1rem;
                }
            }
        }
        .margin-25-top{
            margin-top: 10px;
        }
    }
}