
main{
	margin-left: 300px;
    letter-spacing: 0.2px;
    max-width:100%;
	section{
		min-height: 100vh;
		p{
			margin: 3rem 0;
			font-family: "Comfortaa Light";
			font-size: 1.5rem;
			text-align: center;
		}
		&#welcome{
			position:relative;
			.dark-mode-toggle{
				position:absolute;
				right: 0;
				background: transparent;
				border: none;
				padding: 20px;
				img{
					width: 50px;
				}
			}
			div{
				display:flex;
				flex-direction:column;
				min-height: calc(100vh - 85px);
				align-items: center;
				justify-content: center;
				h3{
					font-family: "Abys", sans-serif;
					font-size: 5rem;
					text-align: center;
				}
				h4{
					font-family: "Comfortaa Light";
				}
			}
		}
		&#about{
			h2{
				background-image: linear-gradient(to right, var(--dark-color) 20%, #517fa4 100%);
			}
			.bio{
				min-height: calc(100vh - 185px);
				display:flex;
				flex-direction: column;
				justify-content: center;
				p{
					margin: 1rem;
					text-align: left;
				}
			}
		}
		&#competences{
			h2{
				background-image: linear-gradient(to right, var(--dark-color) 20%, $staryellow 100%);
			}
			.competences-list{
				position:relative;
				font-size: 5rem;
				margin: 3rem 0;
				span{
					position:absolute;
					&.bracket-left{
						top:-50px;
						left:-50px;
					}
					&.bracket-right{
						bottom: -50px;
						right: -50px;
					}
				}
				&__details{
					display:flex;
					flex-direction:column;
					align-items:center;
					width: 100%;
					margin: 1rem 0;
					border-radius: 3px;
					box-shadow:
					0 0px 4px rgba(0,0,0,0.12), 
					0 0px 8px rgba(0,0,0,0.18);
					
					h4{
						display:block;
						width: 100%;
						padding: 1rem 2rem;
					}
					.divider{
						width: 100%;
					}
					.icons{
						display:flex;
						flex-wrap: wrap;
						width: 100%;
						padding: 3rem 0;
						.icon{
							opacity:1;
							position:relative;
							width: 100px;
							height: 100px;
							margin: 0 2rem;
							img{
								width: 100px;
								transition: all 500ms ease-in-out;
							}
							&:after{
								content: "";
								position: absolute;
								opacity: 0;
								top: 0;
								left: 0;
								height: 100%;
								width: 100%;
								background-size: contain;
								background-repeat: no-repeat;
								transition: all 500ms ease-in-out;
							}
							&:hover > img{
								opacity: 0;
							}
							&:hover:after{
								opacity: 1;
							}
							&:before{
								content: "";
								position:absolute;
								opacity: 0;
								bottom: -40px;
								left: 50%;
								transform: translateX(-50%);
								width: auto;
								font-size: 0.9rem;
								transition: all 250ms ease-in-out;
								background: var(--light-color);
								color: var(--dark-color);
								border-radius: 20px;
								border-top-left-radius: 0;
								border-top-right-radius: 0;
								padding: 5px 10px;
								z-index:1;
							}
							&:hover:before{
								opacity: 1;
								transform: translateY(-5px) translateX(-50%);
								box-shadow: 0 0px 4px rgba(0, 0, 0, 0.12), 0 0px 8px rgba(0, 0, 0, 0.18);
								
							}
						}
						.icon-html{
							&:after{
								background-image: url(assets/images/logos/html-color.png);
							}
							&:before{
								content: "HTML5";
							}
						}
						.icon-css{
							&:after{
								background-image: url(assets/images/logos/css-color.png);
							}
							&:before{
								content: "CSS3";
							}
						}
						.icon-sass{
							&:after{
								background-image: url(assets/images/logos/sass-color.png);
							}
							&:before{
								content: "SASS/SCSS";
							}
						}
						.icon-materialise{
							display:flex;
							align-items: center;
							&:after{
								background-position: center center;
								background-image: url(assets/images/logos/materialise-color.png);
							}
							&:before{
								content: "Materialize";
							}
						}
						.icon-bootstrap{
							&:after{
								background-image: url(assets/images/logos/bootstrap-color.png);
							}
							&:before{
								content: "Bootstrap";
							}
						}
						.icon-javascript{
							&:after{
								background-image: url(assets/images/logos/javascript-color.png);
							}
							&:before{
								content: "JavaScript";
							}
						}
						.icon-jquery{
							&:after{
								background-image: url(assets/images/logos/jquery-full.png);
							}
							&:before{
								content: "jQuery";
							}
						}
						.icon-react{
							&:after{
								background-image: url(assets/images/logos/react-color.png);
							}
							&:before{
								content: "React";
							}
						}
						.icon-vue{
							&:after{
								background-image: url(assets/images/logos/vue-color.png);
							}
							&:before{
								content: "VueJS";
							}
						}
						.icon-angular{
							&:after{
								background-image: url(assets/images/logos/angular-color.png);
							}
							&:before{
								content: "AngularJS";
							}
						}
						.icon-phaser{
							&:after{
								background-image: url(assets/images/logos/phaser-color.png);
							}
							&:before{
								content: "Phaser";
							}
						}
						.icon-php{
							&:after{
								background-image: url(assets/images/logos/php-color.png);
							}
							&:before{
								content: "PHP7";
							}
						}
						.icon-node{
							&:after{
								background-image: url(assets/images/logos/node-color.png);
							}
							&:before{
								content: "NodeJS";
							}
						}
						.icon-mysql{
							&:after{
								background-image: url(assets/images/logos/mysql-color.png);
							}
							&:before{
								content: "MySQL";
							}
						}
						.icon-mongodb{
							&:after{
								background-image: url(assets/images/logos/mongo-color.png);
							}
							&:before{
								content: "MongoDB";
							}
						}
						.icon-wordpress{
							&:after{
								background-image: url(assets/images/logos/wordpress-color.png);
							}
							&:before{
								content: "WordPress";
							}
						}
						.icon-drupal{
							&:after{
								background-image: url(assets/images/logos/drupal-color.png);
							}
							&:before{
								content: "Drupal";
							}
						}
						.icon-photoshop{
							&:after{
								background-image: url(assets/images/logos/photoshop-color.png);
							}
							&:before{
								content: "Photoshop";
							}
						}
						.icon-illustrator{
							&:after{
								background-image: url(assets/images/logos/illustrator-color.png);
							}
							&:before{
								content: "Illustrator";
							}
						}
						.icon-xd{
							&:after{
								background-image: url(assets/images/logos/xd-color.png);
							}
							&:before{
								content: "AdobeXD";
							}
						}
						.icon-git{
							&:after{
								background-image: url(assets/images/logos/git-color.png);
							}
							&:before{
								content: "Git";
							}
						}
						.icon-visual{
							width: 80px;
							display:flex;
							align-items: center;
							img{
								width: 80px;
							}
							&:after{
								background-position: center;
								background-image: url(assets/images/logos/visual-color.png);
							}
							&:before{
								content: "VSCode";
							}
						}
					}
				}
				
			}
		}
		&#projets{
			h2{
				background-image: linear-gradient(to right, var(--dark-color) 20%, #78b32d 100%);
            }
            .projects-list{
                padding-top: 3rem;
			}
		}
		&#formations{
			h2{
				background-image: linear-gradient(to right, var(--dark-color) 20%, #ab8467 100%);
			}
			.container{
				margin-top: 10rem;
			}
		}
		&#experiences{
			h2{
				background-image: linear-gradient(to right, var(--dark-color) 20%, #f09819 100%);
			}
			.container{
				margin-top: 10rem;
				margin-bottom: 10rem;
			}
		}
		&#hobbies{
			h2{
				background-image: linear-gradient(to right, var(--dark-color) 20%, #c71d6f 100%);
			}
			.carousel-item{
				img{
					width: 64px;
					margin: 0 7rem;
				}
				display:flex;
				flex-direction:column;
				align-items:center;
				transform: scale(2);
				color: var(--dark-color);
				width: auto;
				margin-top: 5rem;
			}
			.hobby-pic{
				position:relative;
				width: 64px;
				height: 64px;
				margin: 0 2rem;
			}
			.hobby{
				margin-top: 2rem;
				font-size: 1.2rem;
				text-transform: uppercase;
			}
			.langues{
				.carousel-item{
					margin-top: 0;
				}
				.language{
					margin-top: 2rem;
				font-size: 1.2rem;
				text-transform: uppercase;
				}
				.level{
					font-size: 0.7rem;
				}
			}
		}
		&#contact{
			h2{
				background-image: linear-gradient(to right, var(--dark-color) 20%, #7e51c4 100%);
			}
			display:flex;
			flex-direction:column;
			justify-content: space-between;
			.contact-content{
				display:flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				text-align:center;
				p{
					margin:1rem 0 0 0;
				}
				img{
					margin-top: 2rem;
				}
				.phone{
					p{
						font-size: 2rem;
					}
				}
			}
			footer{
				display:flex;
				justify-content: flex-end;
				div{
					display:flex;	
					p{
						box-shadow: 0px 0 10px 5px rgba(0,0,0,0.12);
						margin:0;
						padding: 10px;
						border-radius: 10px;
						font-size: 1rem;
						text-transform: uppercase;
					}
				}
				
			}
		}
	}
}

@media only screen and (max-width: 992px){
    main{
		margin-left: 0px;
		h2{
			padding-left: 15px;
		}
	}
	footer{
		div{
			flex-direction: column;
		}
	}
}