#projets{
    .card{
        background: var(--light-color);
        .card-title{
            font-size: 1.3rem;
            color: var(--dark-color);
            margin:0;
            
        }
        .card-action{
            display:flex;
            a{
                text-transform: uppercase;
                display:flex;
                align-items: center;
                font-size: 1rem;
                i.material-icons{
                    margin-left: 0.6rem;
                    margin-bottom: 2px;
                }
            }
        }
        .card-reveal{
            background: var(--light-color);
            .card-title{
                margin-bottom: 2rem;
            }
            p{
                font-size: 1rem;
                margin: 1.5rem 0;
            }
        }
    }
}