
// name ANIMATION

.animate span {
	display: inline-block;
}

.animate span:nth-of-type(2) {
	animation-delay: .05s;
}
.animate span:nth-of-type(3) {
	animation-delay: .1s;
}
.animate span:nth-of-type(4) {
	animation-delay: .15s;
}
.animate span:nth-of-type(5) {
	animation-delay: .2s;
}
.animate span:nth-of-type(6) {
	animation-delay: .25s;
}
.animate span:nth-of-type(7) {
	animation-delay: .3s;
}
.animate span:nth-of-type(8) {
	animation-delay: .35s;
}
.animate span:nth-of-type(9) {
	animation-delay: .4s;
}
.animate span:nth-of-type(10) {
	animation-delay: .45s;
}
.animate span:nth-of-type(11) {
	animation-delay: .5s;
}
.animate span:nth-of-type(12) {
	animation-delay: .55s;
}
.animate span:nth-of-type(13) {
	animation-delay: .6s;
}
.animate span:nth-of-type(14) {
	animation-delay: .65s;
}
.animate span:nth-of-type(15) {
	animation-delay: .7s;
}
.animate span:nth-of-type(16) {
	animation-delay: .75s;
}
.animate span:nth-of-type(17) {
	animation-delay: .8s;
}
.animate span:nth-of-type(18) {
	animation-delay: .85s;
}
.animate span:nth-of-type(19) {
	animation-delay: .9s;
}
.animate span:nth-of-type(20) {
	animation-delay: .95s;
}

.name span {
	color: var(--dark-color);
	opacity: 0;
	transform: translate(-300px, 0) scale(0);
	animation: sideSlide .5s forwards;
}

@keyframes sideSlide {
	60% {
		transform: translate(20px, 0) scale(1);
		color: var(--dark-color);
	}

	80% {
		transform: translate(20px, 0) scale(1);
		color: var(--dark-color);
	}

	99% {
		transform: translate(0) scale(1.2);
		color: var(--links);
	}

	100% {
		transform: translate(0) scale(1);
		opacity: 1;
		color: var(--dark-color);
	}
}



// SPINNER

.spinner-wrapper{
	margin: 0 auto;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: white;
	z-index: 999999;
}

.spinner {
	position: absolute;
top: 48%;
left: 48%;
	-webkit-animation: spin 1s linear infinite;
			animation: spin 1s linear infinite;
	border: 3px solid #ddd;
	border-top: 3px solid #42a5f5;
	border-radius: 50%;
	height: 75px;
	width: 75px;
  }
  
  @-webkit-keyframes spin {
	to {
	  border-top-color: #ec407a;
	  -webkit-transform: rotate(360deg);
			  transform: rotate(360deg);
	}
  }
  
  @keyframes spin {
	to {
	  border-top-color: #ec407a;
	  -webkit-transform: rotate(360deg);
			  transform: rotate(360deg);
	}
  }