* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url(../img/background.jpg) no-repeat;
  background-size: cover;
  color: black;
  font-family: "open sans";
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* ------------------------ NAVBAR ----------------*/

header {
  display: flex;
  justify-content: space-between;
  color: white;
  background: rgba(0, 0, 0, 0.2);
}

header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Pacifico;
  margin: 0 2rem;
}

header div a {
  display: inline-block;
  text-decoration: none;
  color: white;
  margin: 0 auto;
}

header div img {
  width: 3rem;
}

header nav {
  padding: 1rem 0;
}

nav ul li {
  list-style: none;
  display: inline;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 5px;
}

nav li a {
  padding: 2rem 2rem;
  text-decoration: none;
  color: white;
  transition: all 250ms ease-in;
  position: relative;
  transition: all 250ms ease-in-out;
}

/* nav li a:hover{
  background: rgba(255,255,255,.3);
  color: black;
} */

nav li a:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 0px;
  margin: auto;
  opacity: 0;
  background: rgba(255, 255, 255, 0.3);
  z-index: -1;
  transition: all 250ms ease-in-out;
}

nav li a:hover:after {
  height: 100%;
  opacity: 1;
}

.mobile{
  display:none;
}

.mobile div{
  position:relative;
  top : 5px;
  right : 20px;
  z-index: 1;
}

.mobile input{
  opacity: 0;
}

.mobile span{
  display:block;
  position: relative;
  width: 30px;
  height: 4px;
  background: white;
  border-radius: 20px;
  cursor: pointer;
}

.mobile span:before{
  position:absolute;
  content:"";
  width: 100%;
  height: 4px;
  background: white;
  top: -8px;
  left: 0;
  border-radius: 20px;
}

.mobile span:after{
  position:absolute;
  content:"";
  width: 100%;
  height: 4px;
  background: white;
  top: 8px;
  left: 0;
  border-radius: 20px;
}

.mobile ul{
  font-family: "open sans";
  text-align: right;
  display:none;
  position: absolute;
  top: 100%;
  left: -150%;
  background: rgba(255,255,255,0.5);
  border-bottom-left-radius : 20px;
  margin-top: 20px;
  padding-right: 26px;
}

.mobile ul li a{
  color: black;
  padding: 0.4rem 0;
}

.mobile input:checked ~ ul{
  display:block;
}

/* ------------------------ TOP HOME SECTION ----------------*/

.titles {
  color: white;
  text-align: center;
  width: 50vw;
  margin: 0 auto;
}

.titles h1 {
  font-family: Pacifico;
  font-size: 5rem;
  margin-bottom: 0;
  text-shadow: 1px 1px 0 black;
}

.titles p {
  letter-spacing: 3px;
  text-shadow: 1px 1px 0 black;
}

/* ------------------------ BOT HOME SECTION ----------------*/

.container-boxes {
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  max-width: 80vw;
}

.box {
  background: rgba(255, 255, 255, 0.5);
  margin: 1rem;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 350px;
  max-height: 180px;
  min-height: 180px;
  transition: all 250ms ease-out;
}

.box:hover {
  background: rgba(255, 255, 255, 0.7);
  transform: translateY(-20%);
}

.box a {
  text-decoration: none;
  color: black;
}

.icon {
  font-size: 3rem;
  padding: 1rem;
}

.text h3 {
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 0;
}

.text p {
  margin-top: 1rem;
  line-height: 1.5rem;
  text-align: left;
}

.text {
  padding: 0.5rem;
}

/* ----------------------- COMMON ----------------------------*/

section.jordane,
section.yarn,
section.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: calc(100vh - 86px);
}

.col {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100%;
}

.col p {
  line-height: 1.5rem;
  padding: 0.8rem;
}

.col h2 {
  font-family: pacifico;
  font-size: 3rem;
  margin: 0.5rem;
  color: grey;
  text-align: center;
}

.col.laine,
.col.bio {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 1rem;
  width: 35%;
  box-shadow: 1px 1px 10px 0 black;
}

.col img {
  border: 5px solid white;
  border-radius: 10px;

  width: 50%;
  height: auto;
}

/* ------------------------ JORDANE SECTION ------------------------ */

section.jordane .col img {
  width: 90%;
}

.col.bio {
  transform: translateX(20%);
}

.col.bio p {
  line-height: 1.5rem;
  padding: 0.8rem;
}

/* ------------------------ LAINE SECTION ------------------------ */

.col.laine {
  margin: 1rem;
}

.col.laine p + p {
  margin-top: 0;
}

.col.yarn-pic {
  min-width: 500px;
}

/* ------------------------ COMPTEUR SECTION ------------------------ */

body.count section {
  margin: 0 auto;
}

.compteur.col h2 {
  color: white;
  text-shadow: 1px 1px 0 black;
}

body.count section div {
  display: flex;
}

body.count section div button {
  font-family: "open sans";
  font-weight: bold;
  font-size: 4rem;
  color: white;
  background: transparent;
  border: none;
  outline: none;
}

body.count section div div {
  color: white;
  align-self: center;
  font-size: 3rem;
  background: rgba(255, 255, 255, 0.2);
  padding: 0 25px;
  border-radius: 20px;
}

/* ------------------------ CONTACT SECTION ------------------------ */

section.contact .col h2 {
  color: white;
  text-shadow: 1px 1px 0 black;
}

form {
  background: white;
  max-width: 400px;
  width: 100%;
  padding: 2rem;
  border-radius: 10px;
  font-family: open sans;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 4px;
  box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.5);
}

form .row {
  display: flex;
}

form .column {
  display: flex;
  flex-direction: column;
}

form .half {
  flex: 0 0 50%;
  max-width: 50%;
}

form .full {
  width: 100%;
}

form select {
  text-transform: none;
  letter-spacing: 0;
}

form label {
  margin: 1rem 1rem 0.5rem;
}

form input,
form select,
form textarea {
  margin: 0 1rem;
  border: 1px solid grey;
}

form textarea {
  font-family: Arial;
  font-size: 12px;
}

input,
select,
textarea {
  border-radius: 5px;
  padding: 5px;
  letter-spacing: 3px;
}

input[type="button"] {
  background: lightgrey;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 1rem 1rem 0.5rem 1rem;
  box-shadow: 0 2px 0 0 black;
  letter-spacing: 5px;
  text-transform: uppercase;
}

input[type="button"]:hover {
  box-shadow: none;
  transform: translateY(2px);
}

/* ------------------------ MEDIAQUERIES ------------------------*/

@media (max-width: 1160px) {
  .icon {
    font-size: 2rem;
    padding: 0.5rem;
  }
  .text h3 {
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 0;
    font-size: 1rem;
  }

  .text p {
    margin-top: 1rem;
    line-height: 1.5rem;
    text-align: left;
    font-size: 0.8rem;
  }
  nav li a:hover {
    background: none;
    color: black;
  }

  .col.bio {
    transform: none;
    margin: 1rem;
  }

  .col.bio h2 {
    font-size: 2rem;
    margin: 0.5rem;
  }

  .col.bio p {
    font-size: 0.9rem;
  }

  section.contact {
    flex-direction: column;
    height: 100%;
  }
  .contact-pic {
    display: none;
  }
}

@media (max-width: 850px) {
  body.home,
  body.teacher,
  body.wool {
    height: 100%;
  }

  nav li a {
    padding: 0 20px;
  }
  .container-boxes {
    flex-direction: column;
  }
  .box:hover {
    background: rgba(255, 255, 255, 0.7);
    transform: none;
  }
  .titles h1 {
    font-size: 3rem;
  }

  section.jordane {
    flex-direction: column;
    margin-bottom: 4rem;
  }

  .col.bio {
    width: 90%;
    background: none;
    box-shadow: none;
    color: white;
    letter-spacing: 3px;
    text-shadow: 1px 1px 0 black;
    text-align: center;
  }

  section.jordane .col h2 {
    color: white;
    margin-top: 5rem;
  }

  section.jordane .col img {
    width: 100%;
    margin: 0;
  }

  section.contact .col h2 {
    font-size: 2rem;
  }
  section.yarn {
    height: 100%;
    flex-direction: column;
  }

  .col.laine {
    width: 90%;
    order: 1;
  }
  .col.yarn-pic {
    order: 2;
    width: 70%;
  }
  .desktop{
    display: none;
  }
  .mobile{
    display: block;
  }
}

@media (max-width: 700px) {
  section.contact .col {
    width: 90%;
  }
}

@media (max-width: 500px) {
  section.contact form {
    padding: 0.5rem;
  }
}
